.menu {
    display: grid;
    grid-auto-flow: row;
    grid-column-start: 1;
    grid-column-end: auto;
    grid-row-start: 1;
    grid-row-end: 15;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}
